<section>
    <h2>Assignments</h2>
    <h4>This section describes all the Assignments Carried out. </h4>
    <hr>

    <div class="assignments">
        <h3>Assignment 1</h3>
        <ul class="list">
            <li>Create two new Components, WarningAlert and SuccessAlert. This creation should be done manually and with the CLI.</li>
            <li>Out put a warning message and success message </li>
            <li>when a user submits form, it outputs user information</li>
            <li>input field gets user data via event binding</li>
        </ul>
    </div>
    <hr>
    <div class="assignments">
            <h3>Assignment 2</h3>
            <ul class="list">
                <li>Add an input field which updates a property ("username") via Two-Way-Binding</li>
                <li>Output the username property via string interpolation (in a paragraph below the input)</li>
                <li>Add a button which may only be clicked if the username is not an empty string</li>
                <li>Upon clicking the button the username should be reset to an empty string</li>
            </ul>
        </div>
        <hr>
    <div class="assignments">
        <h3>Assignment 3</h3>
        <ul class="list">
            <li>Add a button which says 'Display Details'</li>
            <li>Add a paragragh with any content of your choice(e.g 'SecretPassword = tuna')</li>
            <li>Toggle the display of that paragragh with the button created in the first step</li>
            <li>Log all button clicks in an array and ouput that array below the script 
                secret paragraph (maybe log a timestamp or simply an incrementing number)
            </li>
            <li>Starting at the 5th log term, give all future log items a blue background(via ngStyle) and white color(ngClass)</li>
        </ul>
    </div>
</section>
